@font-face {
  font-family: "Antonym-Light";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/Antonym-Light.d94aa3b9.otf");
}

@font-face {
  font-family: "Antonym-Regular";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/Antonym-Regular.0486ef04.otf");
}

@font-face {
  font-family: "Futura-Light";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN35.25197850.otf");
}

@font-face {
  font-family: "Futura-Light-Italic";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN36.cdd73cd9.otf");
}

@font-face {
  font-family: "Futura-Regular";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN45.824a220d.otf");
}

@font-face {
  font-family: "Futura-Regular-Italic";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN46.d489481f.otf");
}

@font-face {
  font-family: "Futura-Demi";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN55.47659d9c.otf");
}

@font-face {
  font-family: "Futura-Demi-Italic";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN56.0953f8f9.otf");
}

@font-face {
  font-family: "Futura-Bold";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN65.32b52008.otf");
}

@font-face {
  font-family: "Futura-Bold-Italic";
  src: url("https://uw-cse442-wi20.github.io/FP-oscar-nominations/FTN66.8009ad4e.otf");
}

body {
  background-color: #1B1B1B;
  color: #FFFFFF;
}

p {
  font-family: "Futura-Light";
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

h1 {
  font-family: "Antonym-Regular";
  font-size: 5rem;
  letter-spacing: 0.01em;
  color: #D8A75E;
  margin-bottom: 10px;
}

h2 {
  font-family: "Futura-Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  margin-top: 0px;
  color: #D7A764;
}

h3 {
  width: 300px;
  font-family: "Futura-Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  margin-top: 0px;
  margin-right: 30px;
  color: #D7A764;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}


.wrapper-actors {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.paragraph {
  display: flex;
  width: 30%;
  align-content: left;
  margin-top: 60px;
}

.title {
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  flex-direction: row;
  align-content: left;
  margin-top: 10px;
  margin-right: 50px;
}



.my_dataviz {
  width: 600px;
  height: 600px;
}

.axis-top line{
  stroke: white;
}
.best_directors{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 30px;
  align-items: center;
  font-family: "Futura-Light";
  font-size: 16px;
}
/* <<<<<<< HEAD */

.best_directors a{
  color: #75edfe;
  text-decoration: none;
 }
.best_directors a:hover{
   text-decoration: underline;
  }

/* .best_dots {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 50px;
} */


.top10 {
  fill:#ffffff;
  stroke-width: 2;
}

.graph {
  width: 40%;
  font-family: "Futura-Regular";
  font-size: 1rem;
  color: black;
}
=======

.line {
  fill: none;
  stroke-width: 1px;
}

.x.axis line{
  stroke: #ffffff;
}

.x.axis path{
  stroke: #ffffff;
}

.x.axis text{
  font-family: "Futura-Light";
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  fill: #ffffff;
}

.y.axis line{
  stroke: #ffffff;
}

.y.axis path{
  stroke: #ffffff;
}

.y.axis text{
  font-family: "Futura-Light";
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  fill: #ffffff;
}

.graph {
  display: flex;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.top10 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

.wrapper-content{
  margin-top: 100px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  margin-bottom: 100px;
}

.wrapper-title {
  display: flex;
  width: 60%;
  margin-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}

.wrapper-text {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}

#mySlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  margin-left: 60px;
  width: 80%; /* Full-width */
  height: 2px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

#mySlider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#mySlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 50%;
  background: #D7A764; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#time-slider-label {
    margin-left: 60px;
    width: 80%; /* Full-width */
    color: #ffffff;
    font-family: "Futura-Light";
    font-size: 0.7rem;
    padding-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}

#time-slider-label > div {
    text-align: center;
    vertical-align: middle;
}
/* >>>>>>> 9483a7faea664837ce0161a34b1fb6ef4938d270 */


/*# sourceMappingURL=https://uw-cse442-wi20.github.io/FP-oscar-nominations/style.28d9270c.css.map */