#best-actress-tooltip, #best-actor-tooltip {
    position: absolute;
    text-align: center;
    /* width: 60px;
    height: 50px; */
    padding: 1%;
    font: 10pt sans-serif;
    border: 2px black;
    border-radius: 8px;
    background: white;
    pointer-events: none;
    color: black;
}

.selected > * {
    fill: yellow !important;
}

.selected.link {
    stroke: yellow;
    fill: none !important;
}

#best-actor-and-actress {
    color: #D8A75E;
    display: flex;
    justify-content: space-between;
}

#best-actor-and-actress text{
    fill: #D8A75E;
}

#best-atress-container, #best-actor-container {
    text-align: center;
}

#best-actor-container, #best-atress-container {
    width: 700px;
}

#best-actor-and-actress-analysis-container {
    width: 300px;
}

/* @media (max-width: 1080) {
    @media (max-height: 1920) {
        #best-actor-and-actress, #best-actor-and-actress *:not(h3) {
            /* zoom: 92%; */
        }
    }
} */

#best-actor-and-actress h3 {
    margin-left: auto;
    margin-right: auto;
}