#tooltip {
    position: absolute;
    text-align: center;
    /* width: 60px;
    height: 50px; */
    padding: 1%;
    font: 12pt sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#best-picture {
    margin-left: 2%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16pt;
}

#movie-info {
    width: 20%;
}

.none {
    display: none !important;
}