#best-picture-tooltip {
    position: absolute;
    text-align: center;
    /* width: 60px;
    height: 50px; */
    padding: 1%;
    font: 12pt sans-serif;
    background: rgb(47, 47, 47);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#best-picture {
    margin-left: 0%;
    display: flex;
    align-items: top;
    text-align: center;
    font-size: 12pt;
}

#movie-info {
    position: absolute;
    width: 20%;
    border-radius: 8px;
    text-align: left;
}

.best-picture-text {
    fill: #D8A75E;
}

.none {
    display: none !important;
}

#best-picture circle {
    opacity: 80%;
}

#move-overview {
    position: absolute;
}

#best-picture a {
    color: #75edfe
}

#best-picture-title {
    margin-top: 5%;
}
